html{
  background: rgb(46, 63, 87);
  background: linear-gradient(
    90deg,
    rgb(63, 86, 119) 0%,
    rgba(33, 44, 61, 1) 42%,
    rgb(15, 21, 29) 100%
  );
}
.App {
  /* text-align: center; */
  display: flex;
}


.aside{
  /* ! probabile cambiamento */
  /* position: fixed;  */
  /* top: 0; */
  box-sizing: border-box;
  width: 13%;
  height: 100vh;
  background-color: #000;
  padding: 20px 15px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo{
  height: 5vh;
  display: flex;
  justify-content: center;
}
.logo img{
  height: 100%;
}

.asideIcons{
  color: rgb(145, 145, 145);
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homeIcon{
  display: flex;
  align-items: center;
}
.homeIcon:hover{
  color: white;
}
.homeIcon p{
  margin-left: 10px;
}
.libraryIcon{
  display: flex;
  align-items: center;
}
.libraryIcon p{
  margin-left: 10px;
}
.libraryIcon:hover{
  color: white;
}


.searchbar form{
  display: flex;
}
.searchbar input{
 width: 50%;
  padding: 5px 10px;
}
.searchbar button{
  padding: 5px 10px;
}

.asideBottom{
  display: flex;
  flex-direction: column;

}

.asideButtons{
  display: flex;
  flex-direction: column;
}
.asideButtons button{
  padding: .4rem 0;
}
.asideButtons button:nth-child(1){
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 20px;
  padding: .6rem 0;
}
.asideButtons button:nth-child(2){
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 20px;
  padding: .6rem 0;
}
.asideButtons button:nth-child(1):hover{
  color: white;
  background-color: rgb(60, 211, 60);
  border: 1px solid rgb(60, 211, 60);
}
.asideButtons button:nth-child(2):hover{
  color: black;
  background-color: white;
}


.asideText{
  font-size: .8rem;
  margin: 0 auto;
}


/* --------------- */
.home{
  width: 100%;
  box-sizing: border-box;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 100vh;
}
.nav{
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: rgb(145, 145, 145);
  font-size: .8rem;
  font-weight: bold;
}
.nav p:hover{
  color: white;
}
.home h2{
  font-size: 2rem;
  color: white;
  margin-top: 5vh;
}

.firstLoad{
  width: 100%;
}

.albumCard{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.albumarea{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}



.singleCard{
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  text-align: center;
  color: white;
  font-size: .7rem;
}

.singleCard img{
  width: 100%;
}

.searchLoad{
  width: 100%;
}

.searchResults{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.searcCard{
  margin: 0 2vw;
}